.body {
  overflow-x: hidden;
}

.notifications {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  color: white;
  text-align: center;

  .notice {
    background-color: $color_notice;
  }

  .alert {
    padding: 0;
    background-color: $color_alert;
  }
}

.wrapper {
  height: 100%;
  min-height: calc(100vh - 176px);
  min-width: $fix_width;
  margin-top: 112px;
}

.vali_alert {
  margin-bottom: 24px;
  padding: 12px;
  border: 2px solid #990000;
  text-align: center;
  font-weight: 850;
  background: #ffebe8;
}

.breadcrumbs {
  display: flex;
  position: fixed;
  top: 64px;
  height: 24px;
  margin: 12px 0;
  z-index: 2;
  .fa-home {
    margin-right: 4px;
  }
}

/*ページネーション自体のデザイン*/
.pagination > li > a {
  // border: none; /*枠線をなくす*/
  color: #4c9b49; /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination > .active > a {
  background: #7ba7eb; /*背景の色を変える*/
  // border-radius: 30px; /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination > li > a:hover {
  // border-radius: 15px; /*角を丸くする*/
  // opacity: 0.5;
  background: lightblue;
}
