<div class="post_wrapper">
  <div class="post_wrapper__header">
    <h3>
      <span>投稿一覧</span>
    </h3>
  </div>
  <div class="post_wrapper__content">
    <ul class="post_wrapper__content__post_list">
      <h3><span>まだ投稿されたスレッドはありません。</span></h3>
      <li>
      <div class="post">
        <div class="post__top_box">
          <div class="post__top_box__name">
            <span>投稿者</span>
          </div>
          <div class="post__top_box__time">
            <span>投稿日時</span>
          </div>
        </div>
        <div class="post__middle_box">
          <span>スレッド</span>
        </div>
        <div class="post__bottom_box">
          <ul class="post__bottom_box__user_actions">
            <li>
              <i class="far fa-comment-alt"></i>
              <span></span>
            </li>
            <li>
              <i class="fas fa-heart"></i>
            </li>
          </ul>
          <ul class="post__bottom_box__admin_actions">
            <li>編集</li>
            <li>削除</li>
          </ul>
        </div>
      </div>
      </li>
    </ul>
  </div>
</div>