<footer class="footer">
  <div class="footer__bar">
    <h4 class="footer__bar__icon">
    <%= link_to root_path do %>
      <span>掲示板アプリ</span>
    <% end %>
    </h4>
    <div class="footer__bar__copylight">
      <span>©2021 yosyos All Rights Reserved.</span>
    </div>
  </div>
</footer>