<header class="header">
  <div class="header__bar">
    <h1>
      <%= link_to root_path do %>
        <span>掲示板アプリ</span>
      <% end %>
    </h1>
    <ul class="header__bar__user_nav">
      <li class="user_name">
        <span>ユーザーさん</span>
      </li>
      <li class="header__bar__user_nav__btn">
        <span>ログアウト</span>
      </li>
      <li class="header__bar__user_nav__btn">
        <span>投稿する</span>
      </li>
    </ul>
    <ul class="header__bar__user_nav">
      <li class="header__bar__user_nav__btn">
        <span>ゲストログイン</span>
      </li>
      <li class="header__bar__user_nav__btn">
        <span>ログイン</span>
      </li>
      <li class="header__bar__user_nav__btn">
        <span>新規登録</span>
      </li>
    </ul>
  </div>
</header>