<%# フラッシュメッセージのテンプレートファイル %>
<div class="notifications">
  <% flash.each do |message_type, message| %>
    <div class="message_type text-center <%= message_type %>"><%= message %></div>
  <% end %>
</div>
